<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta information -->
    <meta charset="UTF-8">
    <title>WebMultiTool</title>
    <!-- Linking external stylesheet -->
    <link rel="stylesheet" media="screen" href="styles.css">
</head>
<body>
<main>
    <header>
        <!-- Logo and naming section -->
        <div class="naming">
            <p>Web</p>
            <p>Multi</p>
            <p>Tool</p>
        </div>
        <!-- Logo image -->
        <img src="img/logo.svg" alt="logo">
    </header>
    <div class="innerSpace">
        <!-- Workspace section -->
        <section class="workspace" id="workspace">
            <!-- Time widget -->
            <div class="widget" id="timeWidget" draggable="true" hidden>
                <div class="clock" id="clock">
                    <!-- Displaying date -->
                    <div id="date">18 March 2003</div>
                    <!-- Displaying time -->
                    <ul>
                        <li id="hours">04</li>
                        <li id="min">20</li>
                        <li id="sec">00</li>
                    </ul>
                </div>
            </div>
            <!-- Map widget -->
            <div class="widget" id="mapWidget" draggable="true" hidden>
                <div class="mapContainer">
                    <div id="map"></div>
                </div>
            </div>
            <!-- Weather widget -->
            <div class="widget" id="weatherWidget" draggable="true" hidden>
                <div class="weatherContainer">
                    <!-- Weather search -->
                    <div class="search">
                        <img src="img/location.svg" alt="location">
                        <label>
                            <!-- Input field for location -->
                            <input type="text"
                                   class="weather_inp"
                                   placeholder="Enter your location"
                                   autofocus
                                   required
                                   title="At least 3 symbols"
                                   pattern="[a-zA-Z]{3,20}">
                        </label>
                        <!-- Search button -->
                        <button class="search_btn"></button>
                    </div>
                    <!-- Weather information display -->
                    <img src="img/void.png" alt="" class="weather_img">
                    <p class="temp"></p>
                    <p class="temp_description"></p>
                </div>
            </div>
            <!-- Dictaphone widget -->
            <div class="widget" id="dicWidget" draggable="true" hidden>
                <div class="dictaphone">
                    <!-- Microphone button for dictation -->
                    <button class="mic"></button>
                </div>
            </div>
        </section>
        <!-- Sidebar section -->
        <aside class="sidebar" id="sidebar">
            <!-- Widget icons for sidebar -->
            <div class="widgetIcon" id="geoIcon" draggable="true"><img src="img/geo.png" alt=""></div>
            <div class="widgetIcon" id="weatherIcon" draggable="true"><img src="img/weather.png" alt=""></div>
            <div class="widgetIcon" id="timeIcon" draggable="true"><img src="img/time.png" alt=""></div>
            <div class="widgetIcon" id="dicIcon" draggable="true"><img src="img/dic.png" alt=""></div>
        </aside>
    </div>
</main>
<!-- Linking JavaScript file -->
<script type="module" src="../js/main.js"></script>
</body>
</html>