@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body{
    background-image: url('img/bg.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 683px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.naming{
    /*position: sticky;*/
    color: white;
    font-family: "Poiret One", sans-serif;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: lighter;
    padding: 0;
    margin: 0 0 0 180px;
    display: flex;
    flex-direction: row;
}

.naming p {
    margin: 0;
}

.naming p:first-letter {
    font-weight: bold;
}

header img {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.innerSpace{
    display: flex;
    justify-content: center;
    width: 100%;
}

.workspace{
    height: 632px;
    width: 800px;
    border-radius: 60px;
    margin-right: 40px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    -webkit-backdrop-filter: blur(20px); /* VENDOR PREFIXES */
    backdrop-filter: blur(20px);
    border: 3px solid white;
    display: grid;
    grid-template-columns: repeat(2, 340px);
    grid-template-rows: repeat(2, 256px);
    grid-gap: 30px;
    justify-content: center;
}

.sidebar{
    height: 632px;
    width: 240px;
    border-radius: 60px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    -webkit-backdrop-filter: blur(20px); /* VENDOR PREFIXES */
    backdrop-filter: blur(20px);
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.widgetIcon{
    height: 120px;
    width: 120px;
    border: 1px solid white;
    border-radius: 38px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: grab;
    transition: transform 0.3s ease;
}

.widgetIcon:hover{
    transform: scale(1.1);
}

.widgetIcon > img {
    height: 120px;
    width: 120px;
}

.widget{
    width: 340px;
    height: 256px;
    border-radius: 20px;
    cursor: grab;
    color: white;
    margin-top: 45px;
    background-image: url('img/bigWidget.png');
    background-size: 340px 256px;
    transition: transform 0.3s ease;
}

.widget:hover{
    transform: scale(1.07);
}

.shake {
    animation: shake .8s ease forwards;
}

@keyframes shake {
    0% {
        transform: rotate(0deg)
    }
    10% {
        transform: rotate(-8deg)
    }
    30% {
        transform: rotate(6deg)
    }
    55% {
        transform: rotate(-3deg)
    }
    80% {
        transform: rotate(1deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes drop {
    0% {
        transform: scale(1.07);
    }
    10% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.07);
    }
    55% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.07);
    }
    100% {
        transform: rotate(0deg)
    }
}

.clock{
    width: 300px;
    height: 140px;
    margin: 58px 0 58px 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto, Normal", sans-serif;
}

#date{
    width: 200px;
    height: 40px;
    border-radius: 16px;
    background-color: #4B4B4B;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 9px 0 rgba(0,0,0,0.25);
}

.clock ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.clock ul li{
    height: 80px;
    width: 95px;
    display: inline;
    background-color: #4B4B4B;
    border-radius: 16px;
    box-shadow: 0 9px 0 rgba(0,0,0,0.25);
    font-size: 34px;
    line-height: 80px;
    text-align: center;
}

.mapContainer{
    width: 340px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map{
    width: 320px;
    height: 236px;
    border-radius: 15px;
    border: 1px solid white;
}


.dictaphone{
    width: 340px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mic {
    height: 44px;
    width: 44px;
    background-image: url('img/mic.svg');
    background-size: 44px 44px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    box-shadow: 0 9px 0 rgba(0,0,0,0.25);
}

.mic:hover{
    background-image: url('img/mic_hover.svg');
}

.mic.isRecording{
    background-image: url('img/mic_isRec.svg');
    position: relative;
}

.mic.isRecording::before, .mic.isRecording::after{
    content: '';
    position: absolute;
    border: 2px solid red;
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
    -webkit-animation: pulse 2.5s linear infinite;/* VENDOR PREFIXES */
    -o-animation: pulse 2.5s linear infinite;/* VENDOR PREFIXES */
    -moz-animation: pulse 2.5s linear infinite;/* VENDOR PREFIXES */
}

.mic.isRecording::after{
    animation-delay: 1.25s;
    -webkit-animation-delay: 1.25s; /* VENDOR PREFIXES */
    -o-animation-delay: 1.25s; /* VENDOR PREFIXES */
    -moz-animation-delay: 1.25s; /* VENDOR PREFIXES */
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.recordPlate{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

.record{
    height: 30px;
    width: 245px;
    border-radius: 30px;
    box-shadow: 0 9px 0 rgba(0,0,0,0.25);
}

.deleteRecord{
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    background-image: url("img/delete.svg");
    margin-left: 5px;
    box-shadow: 0 9px 0 rgba(0,0,0,0.25);
}

.deleteRecord:hover{
    background-image: url("img/delete_hover.svg");
}

.weatherContainer{
    width: 340px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto, Normal", sans-serif;
}

.search{
    height: 30px;
    width: 280px;
    background-color: #4B4B4B;
    border-radius: 30px;
    box-shadow: 0 9px 0 rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input{
    width: 210px;
    margin: 0 10px 0 10px;
    background-color: transparent;
    border: none;
    color: white;
}

.search input:invalid{
    border: solid 1px red;
    border-radius: 30px;
}

.search_btn{
    height: 18px;
    width: 18px;
    background-image: url("img/search.svg");
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search_btn:hover{
    background-image: url("img/search_hover.svg");
}


.weather_img {
    height: 100px;
    width: 106px;
    margin-top: 20px
}

.temp{
    margin: 10px 0 0 0;
}

.temp_description{
    margin: 10px 0 0 0;
}


/*@media screen and (max-width: 650px) {*/
/*    .innerSpace{*/
/*        background-color: red;*/
/*    }*/


/*}*/


/*@media screen and (max-width: 400px) {*/
/*    .innerSpace{*/
/*        flex-direction: column;*/
/*    }*/

/*}*/








